
@{
    ViewData["Title"] = "Evaluator";
}
<div class="evaluator">
    <h2>Evaluator</h2>
    <div class="votebutton">
        <div class="arrow-up"></div>
        <h5>Understanding</h5>
    </div>

    <div class="votebutton">
        <h5>Not Understanding</h5>
        <div class="arrow-down"></div>
    </div>

    <div class="votebutton">
        <h5>Ask A Question:</h5> <br />
        <textarea name="text" cols="25" rows="3"></textarea>
    </div>
</div>

@*<div class="arrowtwo-border">
    <div class="arrowtwo"></div>
</div>*@