
@{
    ViewData["Title"] = "Portal";
}

<div class="studentportal">
    <h2>Welcome To Class!</h2>

    <p>Please enter your name:</p>

    <form>
        Name:<br>
        <input type="text" name="studentname"><br>
        <input type="submit" value="Submit">
    </form>

</div>
