html, body {
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body .Home {
    padding-left: 0;
    padding-right: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/*----------------
------------------
LECTURER    PORTAL
------------------
----------------*/

#portaltitle {
    padding-top: 1em;
    padding-bottom: 1em;
}

.portalclasses {
    padding-left: 5em;
}

.newplaceholder {
    text-align: center;
    border: solid thin;
    border-color: lightgray;
    margin: 1em 1em 1em 1em;
}

/*----------------
------------------
SIDE   NAV    MENU
------------------
----------------*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 15%; /* 0 width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3B494E;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

    /* The navigation menu links */
    .sidenav a, dl, dt, dd {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #F0F5F8;
        display: block;
    }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
       color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    position: relative;
    margin-left: 18%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*----------------
------------------
STUDENT     PORTAL
------------------
----------------*/

.studentportal {
    text-align: center;
    padding-top: 2em;
    border: ridge 5px;
    width: 30em;
    margin: 0 auto;
    background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
    color: silver;
    min-height: 40em;
}

/*----------------
------------------
STUDENT  EVALUATOR
------------------
----------------*/

.evaluator {
    text-align: center;
    align-content: center;
    padding-top: 2em;
    border: ridge 5px;
    width: 30em;
    margin: 0 auto;
    background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
    color: silver;
    min-height: 500px;
}

.updownbuttons {
    text-align: center;
    font-size: 2em;
    padding-top: .25em;
}

.upbutton {
    padding-top: .5em;
    padding-bottom: .5em;
}

.downbutton {
    padding-bottom: .25em;
}

.commentbox {
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.submitquest {
    text-align: center;
    padding-top: 2em;
    padding-bottom: .25em;
}

.grandParentContainer {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.parentContainer {
    display: table-cell;
    vertical-align: middle;
}

/*----------------
------------------
LECTURE   GRAPHING
------------------
----------------*/
#studentquestions {
    border: double;
    min-height: 700px;
    margin-right: 10px;
}

#datachart {
    border: double;
    min-height: 700px;
    margin-left: 10px;
}


